#layoutSr { 
background-image: url("../IMG/layoutSerraSul.jfif");
background-color: #000;
width:4081px;
height:2842px;
}

.icone {
background-color: green;
width:100px;
height:100px;
}



